@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tel-input .form-control {
    margin-left: 25px;
    width: 260px !important;
}


.css-qbdosj-Input {
    color: gray
}

.css-1u9des2-indicatorSeparator {
    display: none
}

